.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-user{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: flex-start;
}

.buttons{
    display: flex;
}

.buttons buton{
    margin: 0 15px;
    padding-left: 50px;
}